@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-content {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 499px;
    border-radius: 20px;
    padding: 16px 16px 0px 16px;
}

.card-content .img-pr-code {
    background: url('../images/image-qr-code.png') center center no-repeat;
    background-size: cover;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
}
.card-content .informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
}
.card-content .informacoes .title {
    font-size: 20px;
    text-align: center;
    width: 16,00em;
    height: 3,25em;
    color: hsl(218, 44%, 22%);
}

.card-content .informacoes .descricao {
    text-align: center;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    width: 16,00em;
    height: 3,94em;
    margin-top: 16px;

}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }